*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(200, 137, 255);
    color: white;
    text-align: center;

}
h2{
    color: white;
}
body{
    background-color: rgb(111, 111, 189);
    font-size: 16px;
}
p{
    color: white;
    width: 70%;  
}
li{
    color: white;
}
h3{
    color: white;
}
  a{
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  table{
    background-color: rgb(200, 137, 255);
    position: absolute; 
    left: 76%;
    top: 4%;
    border: 2px solid white  ;
  }
  a:hover {
    color: #007bff;
  }
.image-com-borda{
    border: 3px solid white;
}
.video-youtube iframe{
    border: 2px solid white;
}
.foto-curriculo{
    position: absolute;
    left: 72%;
    top: 47%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    background-color: white;
}
.container{
    background-color: rgb(200, 137, 255); 
    width: 28%; 
    position: absolute; 
    transform: translate(235%, 5%); 
    border-radius: 15px;
    padding: 10px;
}


  